.button {
  display: grid;
  justify-content: center;
  margin-top: 200px;
  font-weight: 500;
  font-size: 80px;
  font-style: oblique;
}

h1 {
  display: grid;
  justify-content: center;
  font-size: 60px;
  color: rgb(172, 108, 231);
}

body {
  background-color: rgb(92, 83, 83);
}

.button:hover,
.button:focus {
  color: rgb(253, 198, 143);
}

p {
  display: grid;
  justify-content: center;
  font-size: 30px;
  color: blanchedalmond;
}
